body{
    background-color: #37422e;
    font-family: sans-serif;
}

div.oppgave{
    width: 1000px;
    padding: 50px;
    background-color: #f7eac8;
    min-height: 100px;
    margin: 80px auto;
    position: relative;
}

h1{
    color: darkred;
    font-size: 100px;
    text-align: center;
}

h2{
    color: #37422e;
    margin-top: -80px;
    text-align: center;
}

h3{
    background-color: #bb1315;
    font-size: 70px;
    position: absolute;
    width: 120px;
    height: 80px;
    left: -60px;
    top: -60px;
    text-align: center;
    border-radius: 60px;
    margin: 0;
    color: white;
}

img{
    display: block;
    margin: auto;
}


form{
    background-color: whitesmoke;
    padding: 40px;
    font-family: Serif;
    width: 200px;
    border: groove 3px #b89115;

}

p.nr1{
    text-align: center;
    font-family: "Maiandra GD";
    font-size: 50px;
}

h4{
    font-size: 20px;
}