@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

p {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    margin: 10px;
}

p.red{
    color: darkred;
}

hr {
    height: 1px;
    color: #40C337;
    background-color: #40C337;
    border: none;
}


div.image{
    position: absolute;
    margin: -5px;
    padding: 10px;

}

ul.text{
    text-align: center;
    text-decoration: none;
}

ul{
    color: #40C337;
    list-style-type: none;
    display: block;
    padding: 10px;
    margin: auto;
    font-size: 95%;
    border-radius: 5px;
}

ul.kontakt{
    margin-left: 40px;
    margin-bottom: 5px;
    float: left;
    overflow: hidden;
    display: inline;
}

ul.kontakt1{
    text-align: center;
}

h4.meg{
    text-align: center;
}

h3{
    color: #40C337;
    margin: 5px;
    padding: 5px;
}

li{
    font-family: 'Roboto Condensed';
}

ul a.as{
    text-decoration: none;
    font-weight: bold;
    color: #40C337;
    display: block;
    border-radius: 5px;
    background-color: #010001;
    padding: 5px;

}

ul a:hover{
    box-shadow: #1C1F23 0 0 0 5px;
    box-shadow: initial;
    background-color: #1C1F23;

}

h2{
    color: #40C337;
    text-align: center;
}

h4{
    color: white;
    margin-left: 50px;
}

p{
    color: #40C337;
}

h1{
    color: #40C337;
}

div.grid {
    display: grid;
    grid-template-areas: "header" "main" "aside1" "footer";
    grid-gap: 1px;
}

div.header {
    background-color: #161616;
    grid-area: header;
    text-align: center;


}

div.main {
    background-color: #010001;
    grid-area: main;
    border: groove 3px white;

}

div.aside1 {
    grid-area: aside1;
    background-color: #010001;
}

div.footer {
    grid-area: footer;
    background-color: #262A30;
    height: 100px;
}

@media (min-width: 500px) {
    div.grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
                "header"
                "main  "
                "main  "
                "aside1"
                "footer";

    }
    div.footer{
        min-height: 150px;
    }

}


@media (min-width: 700px) {
    div.grid {
        grid-template-columns: 200px 2fr 150px;
        grid-template-areas:
                "header header header"
                "aside1 main   main"
                "aside1 main   main"
                "footer footer footer"
    }
    div.footer{
        min-height: 150px;
    }
}

@media (min-width: 1000px) {
    div.grid {
        grid-template-columns: 200px 3fr 150px;
        grid-template-areas:
                "header header header"
                "aside1 main   main"
                "aside1 main   main"
                "footer footer footer";
         max-width: 1400px;
         margin:auto;
    }

    div.main{
        min-height: 700px;
    }
    div.footer{
        min-height: 150px;
    }
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #40C337;
    margin-top: 30px;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

img.skjerm{
    float: left;
}

img.skjermr{
    float: right;
}

h5{
    font-size: 20px;
    color: #40C337;
    text-align: center;
}

a{
    text-decoration: none;
}

p.center{
    text-align: center;
}

img.rite{
    float: right;

    margin-top: -80px;
    margin-right: 10px;
}

img.rite1{
    float: right;

    margin-top: -60px;
    margin-right: 10px;
}

img.rite0{
    float: right;

    margin-top: -100px;
    margin-right: 10px;
}
